.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px;
}

.btn-proceed {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 56px; 
    margin: 10px auto;
    align-items: center;
    border-radius: 4px;
    color: white;
    background-color: #FF9900;
    border-radius: 4px;
}

.proceed-link {
    text-decoration: none;
}